<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/raula_img"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_raula"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raula"
        tools:targetApi="31">
        <activity
            android:name=".model.OtpController"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQgaGaougLJOhLu_MBY8nfOh3n-VHMgzs" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAppointmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PackagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordConfermActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PinCodeAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PinEnterReenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FingerPrintAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Start_Screen_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lording_Screen_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name="lk.payhere.androidsdk.PHMainActivity" />
    </application>

</manifest>